/* CSS Document */

body{
margin:0 auto;
padding:0 auto;
font-family:tahoma;
font-size:12px;
color:#000000;
background-color:#eeeaeb;

}
.cnt{
	margin-top:20px;

	
}
.bg{
	background-color:#eeeaeb;
	 height: 522px;
}

.menu{
	background-color:#e6c36e;
}
.slider-holder
        {
            width: 680px;
            height: 400px;
            background-color: #eeeaeb;
           	margin-left:115px;
            margin-right: auto;
            margin-top: 0px;
            text-align: center;
            overflow: hidden;
        }
       
        .image-holder
        {
            width: 2400px;
            background-color: #eeeaeb;
            height: 400px;
            clear: both;
            position: relative;
           
            -webkit-transition: left 2s;
            -moz-transition: left 2s;
            -o-transition: left 2s;
            transition: left 2s;
        }
       
        .slider-image
        {
            float: left;
            margin: 0px;
            padding: 0px;
            position: relative;
        }
       
        #slider-image-1:target ~ .image-holder
        {
            left: 0px;
			background-color:pink;
        }
       
        #slider-image-2:target ~ .image-holder
        {
            left: -800px;
			padding-left:109px;
			margin-left:10px;
	
        }
		
	
        
        .button-holder
        {
            position: relative;
            top: -20px;
        }
       
        .slider-change
        {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: #eeeaeb;
        }   
.welcome{
      color: #bba275;
      font-family: bold;
	  font-size: 20px;
	  margin-left: 684px;
	  margin-top: -392px;
	  padding-left: 10px;
	  width: 176px;
}
.pic{
	margin-top: 3px;
    margin-left: 695px;

}

.txt{
    margin-left: 830px;
    margin-top: -133px;
    width: 151px;
		line-height:24px;
}
.data{
	   margin-left: 701px;
    margin-top: 10px;
    width: 417px;
	line-height:24px;

}
.read{
	margin-top:-7px;
	}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin:20px; } 
div#slider { overflow: hidden; }
div#slider figure img { width:250px; float: left; }
div#slider figure { 
  position: relative;
  width: 340%;
  margin-left:130px;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}
.head{
     
    background-color: #f4eede;
	margin-top: 20px;
    width: 630px;
   

}

.images{
    margin-top: 24px;
	
}    
.name1{
		margin-top: 10px;
}
.images11{
    margin-top: 30px;
	
}    
.name11{
	
	margin-top: 10px;
	
}
.vertical_line {
    background:#eeeaeb none repeat scroll 0 0;
    height: 339;
    margin-left: 683px;
    margin-top: -371px;
    width: 1.5;
}
.news{
 	 background-color: #f4eede;
	 font-size: 22px;
	 width:250px;
	 height:30px;
	 margin-left:940px;
	
	

}	

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #d9c8cc;
  font-size: 20px;
  background: #eeeaeb;
  padding: 0px 7px 2px 5px;
  border: solid #eeeaeb 2px;
  text-decoration: none;
}
.btn-2 {
 -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #d9c8cc;
  font-size: 20px;
  background: #eeeaeb;
  padding: 0px 7px 2px 5px;
  border: solid #eeeaeb 2px;
  text-decoration: none;
}
	
	
.head1{
     	
    background-color: #f4eede;
	font-size: 22px;
	 height: 31px;
    width: 251px;


}

.hr {
    border: 2px dotted #eeeaeb;
    border-style: none none dotted; 
    color: #fff; 
    background-color: #fff;
	width:260px;
				    
}	
.vertical_line_1{
	background: #eeeaeb none repeat scroll 0 0;
    height: 414px;
    margin-top: -413px;
    width: 1px;
	}	
	.head2{
        
		
    background-color: #f4eede;
    font-size: 22px;
    height: auto;
   margin-left: -1016px
    margin-top: -415px;
    width: 250px;
}
.vertical_line_3{
	background: #eeeaeb none repeat scroll 0 0;
    height: 414px;
    margin-top: -413px;
    width: 3px;
	}
	
	.weather,.Date,.Ourpartner{

    background-color: #f4eede;
  
}
.footer{
	
	 background-color: #e6c36e;
	 color:#00000;
}
.footer_2{
		 background-color: #947f4b;
	 color:#e6c36e;
	
}
